[submodule "submodules/websnes"]
	path = submodules/websnes
	url = https://bitbucket.org/wothke/websnes.git
[submodule "submodules/emsdk"]
	path = submodules/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "submodules/webaudio-player"]
	path = submodules/webaudio-player
	url = https://bitbucket.org/wothke/webaudio-player.git
[submodule "submodules/webpsx"]
	path = submodules/webpsx
	url = https://bitbucket.org/wothke/webpsx.git
[submodule "submodules/webnez"]
	path = submodules/webnez
	url = https://bitbucket.org/wothke/webnez.git
[submodule "submodules/webn64"]
	path = submodules/webn64
	url = https://bitbucket.org/wothke/webn64.git
[submodule "submodules/vgmplay-0.40.9"]
	path = submodules/vgmplay-0.40.9
	url = https://bitbucket.org/wothke/vgmplay-0.40.9.git
